<?php
/* database connection information */

$CONFIG['db']['db_host'] = 'localhost'; //hostname
$CONFIG['db']['db_user'] = 'amaranth'; //username
$CONFIG['db']['db_pass'] = 'magnolia'; //password
$CONFIG['db']['db_name'] = 'amaranth'; //name of database to use

/* memcached connection information */
$CONFIG['memcached']['host'] = '127.0.0.1'; //host for memcached server
$CONFIG['memcached']['port'] = 11211; //port of memcached server
$CONFIG['memcached']['ttl'] = 30; //default TTL for memcached entries

/* Logging */
/* Valid levels are:
	U_OFF	
	U_ERROR
	U_WARNING
	U_NOTICE
	U_DEBUG
*/
$CONFIG['logging']['level'] = U_OFF; //change logging level
$CONFIG['logging']['logfile'] = 'amaranth.log'; //turn debugging on and off
?>
